rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Função auxiliar para verificar autenticação
    function isAuthenticated() {
      return request.auth != null;
    }

    // Regras para imagens de projetos
    match /projects/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
      allow delete: if isAuthenticated();
    }

    // Regras para imagens de artworks
    match /artworks/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
      allow delete: if isAuthenticated();
    }

    // Regra padrão para outros arquivos
    match /{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }
  }
} 